{% extends 'nba_stats/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <header>
    <h2>New Player</h2>
  </header>

  <!-- novalidate attribute required to render validation messages -->
  <form method="post" novalidate>
    {% csrf_token %}


    <div class="row">
      <div class="col-6">
        {{ form.player_name|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.player_height|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.player_weight|as_crispy_field }}
      </div>
    </div>


    <div class="row">
      <div class="col-6">
        {{ form.player_birth_year|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.player_birth_state|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.player_college|as_crispy_field }}
      </div>
    </div>
    
    
    <div class="row" >
      <div class="col-3">
        {{ form.team|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        {{ form.season|as_crispy_field }}
      </div>
    </div>

    <button type="submit" class="btn btn-outline-success">Add</button>
    &nbsp;<a class="btn btn-outline-secondary" href="{% url 'players' %}">cancel</a>
  </form>

{% endblock content %}